@using CrudEscuela.Shared;
@using CrudEscuela.Shared.Grade;
@using CrudEscuela.Shared.Professor;
@using CrudEscuela.Shared.Professor.Definition;
@using CrudEscuela.Shared.Utils;

@inject SweetAlertService Sweet;
@inject ILogger<CreateGrade> Logger;
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;

@attribute [Route(Routes.Grade.CreateGrade)]

<h3>Crear grado</h3>

<EditForm Model="@request" OnValidSubmit="@CreateGradeHandler" style="width: min(90%, 600px); margin: 0 auto 0 0;" class="p-3 border border-light">
    <div class="form-control mb-3">
        <InputText class="form-control" @bind-Value="request.Name" placeholder="Nombre" />
    </div>

    <div class="form-control mb-3">
        <InputSelect @bind-Value="request.ProfessorId" class="form-select">
            <option>Seleccione un profesor</option>
            @foreach ( var professor in Professors )
            {
                <option value="@professor.Id">@($"{professor.Name} {professor.LastName}")</option>
            }
        </InputSelect>
    </div>

    <button class="btn btn-primary">Crear grado</button>
</EditForm>

@code {
    private CreateGradeRequest request = new CreateGradeRequest();
    private List<ProfessorDefinition> Professors = new List<ProfessorDefinition>();

    protected override async Task OnInitializedAsync()
    {
        await LoadProfessors();
        StateHasChanged();
    }

    private async Task LoadProfessors()
    {
        var toast = Sweet.Mixin(new SweetAlertOptions
            {
                Toast = true,
                TimerProgressBar = true,
                Position = "top-end",
                ShowConfirmButton = false,
                Timer = 3000,
            });

        try
        {
            var response = await HttpClient.GetAsync("/api/Professor/getAll");
            var content = await response.Content.ReadFromJsonAsync<ServiceResponse<GetAllProfessorsResponse>>();

            if ( content == null )
                throw new Exception();


            if ( content.Success && content.Data != null )
            {
                Professors = content.Data.Professors;
            }
            else if ( !content.Success )
            {
                await toast.FireAsync(new SweetAlertOptions
                    {
                        Icon = "error",
                        Title = content.Message
                    });
            }

        }
        catch ( Exception ex )
        {
            Logger.LogError(ex, "Something went wrong while fetching all professors");
            await toast.FireAsync(new SweetAlertOptions
                {
                    Icon = "error",
                    Title = "Algo ha salido mal al soliciar todos los profesores"
                });
        }
    }

    private async Task CreateGradeHandler()
    {
        var toast = Sweet.Mixin(new SweetAlertOptions
            {
                Toast = true,
                TimerProgressBar = true,
                Position = "top-end",
                ShowConfirmButton = false,
                Timer = 3000,
            });
        try
        {

            var response = await HttpClient.PostAsJsonAsync("api/Grade/createGrade", request);
            var content = await response.Content.ReadFromJsonAsync<ServiceResponse<CreateGradeResponse>>();


            if ( content == null )
                throw new Exception();


            if ( content.Success && content.Data != null )
            {
                NavigationManager.NavigateTo(Routes.Grade.GradesList);
                await toast.FireAsync(new SweetAlertOptions
                    {
                        Icon = "success",
                        Title = content.Message
                    });

            }
            else if ( !content.Success )
            {
                await toast.FireAsync(new SweetAlertOptions
                    {
                        Icon = "error",
                        Title = content.Message
                    });
            }
        }
        catch ( Exception ex )
        {
            Logger.LogError(ex, "Something went wrong while creating grade");
            await toast.FireAsync(new SweetAlertOptions
                {
                    Icon = "error",
                    Title = "Algo ha salido mal al crear grado"
                });
        }
    }
}
